[Desktop Entry]
Version=1.0
Type=Application
Name=SerialCom
Comment=Interface gráfica para comunicação serial
Exec=python3 /home/benjamim/Documentos/serialcom/serial_gui.py
Icon=utilities-terminal
Terminal=false
Categories=System;Utility;
