#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install main script
	install -Dm755 omnicom debian/omnicom/usr/bin/omnicom

	# Install icon in hicolor theme (FreeDesktop.org standard)
	install -Dm644 assets/omnicom.png debian/omnicom/usr/share/icons/hicolor/512x512/apps/omnicom.png

	# Install UI icons (sidebar and misc)
	install -Dm644 assets/icons/arrow_down.svg debian/omnicom/usr/share/omnicom/icons/arrow_down.svg
	install -Dm644 assets/icons/TFTP.svg debian/omnicom/usr/share/omnicom/icons/TFTP.svg
	install -Dm644 assets/icons/serial-port-white.svg debian/omnicom/usr/share/omnicom/icons/serial-port-white.svg
	install -Dm644 assets/icons/ssh_icon.svg debian/omnicom/usr/share/omnicom/icons/ssh_icon.svg

	# Install vendor icons
	install -Dm644 assets/vendors/generic.svg debian/omnicom/usr/share/omnicom/vendors/generic.svg
	install -Dm644 assets/vendors/cisco.svg debian/omnicom/usr/share/omnicom/vendors/cisco.svg
	install -Dm644 assets/vendors/huawei.svg debian/omnicom/usr/share/omnicom/vendors/huawei.svg
	install -Dm644 assets/vendors/juniper.svg debian/omnicom/usr/share/omnicom/vendors/juniper.svg
	install -Dm644 assets/vendors/fortinet.svg debian/omnicom/usr/share/omnicom/vendors/fortinet.svg
	install -Dm644 assets/vendors/d-link.svg debian/omnicom/usr/share/omnicom/vendors/d-link.svg
	install -Dm644 assets/vendors/h3c.svg debian/omnicom/usr/share/omnicom/vendors/h3c.svg
	install -Dm644 assets/vendors/brocade.svg debian/omnicom/usr/share/omnicom/vendors/brocade.svg
	install -Dm644 assets/vendors/datacom.svg debian/omnicom/usr/share/omnicom/vendors/datacom.svg

	# Install desktop file
	install -Dm644 omnicom.desktop debian/omnicom/usr/share/applications/omnicom.desktop

	# Install documentation
	install -Dm644 README.md debian/omnicom/usr/share/doc/omnicom/README.md
	install -Dm644 docs/INTERFACE.md debian/omnicom/usr/share/doc/omnicom/INTERFACE.md
	install -Dm644 LICENSE debian/omnicom/usr/share/doc/omnicom/copyright
